{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>在线思想政治教育系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "style/dashboard.css" %}" rel="stylesheet">
    <style type="text/css">
      .myseachbox{margin-bottom: 20px;}
      .myseachbox .mysearch-input-group{float: left; width: 300px;}
      .myseachbox .mysearch-btn{margin-left: 35px; width: 100px;}

      .my-nodata{padding: 50px 0 100px; text-align: center; background-color: #f9f9f9; color: #999; font-size: 20px; font-weight: bold;}

      .my-add-main{}
      .my-add-main h2{text-align: center;}
      .my-add-main .mybtn{width: 100px;}

      .mylink{margin-right: 5px;}
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static "../../assets/js/ie8-responsive-file-warning.js" %}"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
      <script src="{% static "//cdn.bootcss.com/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">在线思想政治教育系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">赵六</a></li>
            <li id="logout"><a href="javascript:void(0);">注销</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="leftNav" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="courseNav" content-id="course"><a href="#">课程管理</a></li>
            <li id="resourceNav" content-id="resource"><a href="#">学习资料管理</a></li>
            <li id="examinationNav" content-id="examination"><a href="#">我的成绩</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li id="examNav" content-id="exam_ready"><a href="#">开始测试</a></li>
          </ul>
        </div>

        <!-- 课程管理 -->
        <div id="course" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">课程信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="course_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="course_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="id">课程编号</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="course_searchType">
                  <li data-value="name"><a href="javascript:void(0);">课程名</a></li>
                </ul>
              </div>
              <input id="course_search_input" type="text" class="form-control" />
            </div>
            <button id="course_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>课程编号</th>
                  <th>课程名</th>
                  <th>课程目的</th>
                  <th>教员</th>
                </tr>
                <tbody id="courseList"></tbody>
              </thead>
            </table>
            <p id="courseListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 课程管理 END -->

        <!-- 学习资料管理 -->
        <div id="resource" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">学习资料</h2>
          <div class="myseachbox">
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>课程名</th>
                  <th>描述</th>
                  <th>链接</th>
                </tr>
                <tbody id="resourceList"></tbody>
              </thead>
            </table>
            <p id="resourceListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 学习资料管理 END -->

        <!-- 成绩管理 -->
        <div id="examination" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">成绩信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="examination_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="examination_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="courseId">课程编号</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="examination_searchType">
                  <li data-value="id"><a href="javascript:void(0);">成绩编号</a></li>
                </ul>
              </div>
              <input id="examination_search_input" type="text" class="form-control" />
            </div>
            <button id="examination_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>成绩编号</th>
                  <th>成绩</th>
                  <th>课程名</th>
                  <th>教员</th>
                  <th>时间</th>
                </tr>
                <tbody id="examinationList"></tbody>
              </thead>
            </table>
            <p id="examinationListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 成绩管理 END -->

        

        <!-- 准备测试 -->
        <div id="exam_ready" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">准备测试</h2>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="resource_add_course" class="col-sm-4 control-label">课程</label>
              <div class="col-sm-2">
                <select class="form-control" id="exam_ready_course">
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-5">
                <button id="exam_ready_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">新增</button>
              </div>
            </div>
          </form>
        </div>
        <!-- 准备测试 END -->
        <!-- 开始测试 -->
        <div id="exam_start" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">测试</h2>
          <div class="myseachbox">
            <button id="exam_submit_btn" type="button" class="btn btn-primary mysearch-btn">提交</button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>考题内容</th>
                  <th>分数</th>
                  <th>答案 A</th>
                  <th>答案 B</th>
                  <th>答案 C</th>
                  <th>答案 D</th>
                  <th>选择答案</th>
                </tr>
                <tbody id="examNoList"></tbody>
              </thead>
            </table>
            <p id="examNoData" class="my-nodata">暂无可用测试</p>
          </div>
        </div>
        <!-- 开始测试 END -->



      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

    <script src="{% static "layer/layer.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/manage3.js" %}"></script>
  </body>
</html>