{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>在线思想政治教育系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "style/dashboard.css" %}" rel="stylesheet">
    <style type="text/css">
      .myseachbox{margin-bottom: 20px;}
      .myseachbox .mysearch-input-group{float: left; width: 300px;}
      .myseachbox .mysearch-btn{margin-left: 35px; width: 100px;}

      .my-nodata{padding: 50px 0 100px; text-align: center; background-color: #f9f9f9; color: #999; font-size: 20px; font-weight: bold;}

      .my-add-main{}
      .my-add-main h2{text-align: center;}
      .my-add-main .mybtn{width: 100px;}

      .mylink{margin-right: 5px;}
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static "../../assets/js/ie8-responsive-file-warning.js" %}"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
      <script src="{% static "//cdn.bootcss.com/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">在线思想政治教育系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ name }}</a></li>
            <li id="logout"><a href="javascript:void(0);">注销</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="leftNav" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="studentNav" content-id="student" ><a href="#">学员管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li id="courseNav" content-id="course"><a href="#">课程管理</a></li>
            <li id="testPaperNav" content-id="testPaper"><a href="#">考题管理</a></li>
            <li id="examinationNav" content-id="examination"><a href="#">成绩管理</a></li>
            <li id="resourceNav" content-id="resource"><a href="#">学习资料管理</a></li>
          </ul>
        </div>


        <!-- 学员管理 -->
        <div id="student" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">学员信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="student_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="student_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="number">学号</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="student_searchType">
                  <li data-value="name"><a href="#">姓名</a></li>
                </ul>
              </div>
              <input id="student_search_input" type="text" class="form-control" />
            </div>
            <button id="student_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
            <button id="student_add_btn" type="button" class="btn btn-primary mysearch-btn">新增</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>学号</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>年龄</th>
                  <th>户籍</th>
                  <th>基层单位</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody id="studentList"></tbody>
            </table>
            <p id="studentListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 学员管理 END -->
        <!-- 新增学员 -->
        <div id="student_add" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main my-add-main" style="display: none;">
          <h2 class="sub-header">新增学员</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="student_add_name" class="col-sm-4 control-label">姓名</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_add_name" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_add_sex" class="col-sm-4 control-label">性别</label>
                <div class="col-sm-2">
                  <select class="form-control" id="student_add_sex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="student_add_age" class="col-sm-4 control-label">年龄</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_add_age" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_add_home" class="col-sm-4 control-label">户籍</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_add_home" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_add_department" class="col-sm-4 control-label">基层单位</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_add_department" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_add_sex" class="col-sm-4 control-label">教员</label>
                <div class="col-sm-2">
                  <select class="form-control" id="student_add_techer">
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button id="student_add_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">新增</button>
                </div>
              </div>
            </form>
        </div>
        <!-- 新增学员 END -->

        <!-- 修改学员 -->
        <div id="student_edit" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main my-add-main" style="display: none;">
          <h2 class="sub-header">修改学员</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="student_edit_name" class="col-sm-4 control-label">姓名</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_edit_name" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_edit_sex" class="col-sm-4 control-label">性别</label>
                <div class="col-sm-2">
                  <select class="form-control" id="student_edit_sex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="student_edit_age" class="col-sm-4 control-label">年龄</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_edit_age" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_edit_home" class="col-sm-4 control-label">户籍</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_edit_home" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_edit_department" class="col-sm-4 control-label">基层单位</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="student_edit_department" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="student_edit_sex" class="col-sm-4 control-label">教员</label>
                <div class="col-sm-2">
                  <select class="form-control" id="student_edit_techer">
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button id="student_edit_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">修改</button>
                </div>
              </div>
            </form>
        </div>
        <!-- 修改学员 END -->



        <!-- 课程管理 -->
        <div id="course" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">课程信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="course_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="course_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="id">课程编号</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="course_searchType">
                  <li data-value="name"><a href="javascript:void(0);">课程名</a></li>
                </ul>
              </div>
              <input id="course_search_input" type="text" class="form-control" />
            </div>
            <button id="course_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
            <button id="course_add_btn" type="button" class="btn btn-primary mysearch-btn">新增</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>课程编号</th>
                  <th>课程名</th>
                  <th>课程目的</th>
                  <th>操作</th>
                </tr>
                <tbody id="courseList"></tbody>
              </thead>
            </table>
            <p id="courseListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 课程管理 END -->
        <!-- 新增课程 -->
        <div id="course_add" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main my-add-main" style="display: none;">
          <h2 class="sub-header">新增课程</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="course_add_name" class="col-sm-4 control-label">课程名</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="course_add_name" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="course_add_purpose" class="col-sm-4 control-label">课程目的</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="course_add_purpose" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button id="course_add_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">新增</button>
                </div>
              </div>
            </form>
        </div>
        <!-- 新增课程 END -->


        <!-- 考题管理 -->
        <div id="testPaper" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">考题信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="testPaper_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="testPaper_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="courseName">课程名</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="testPaper_searchType">
                  <li data-value="name"><a href="javascript:void(0);">考题名</a></li>
                </ul>
              </div>
              <input id="testPaper_search_input" type="text" class="form-control" />
            </div>
            <button id="testPaper_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
            <button id="testPaper_add_btn" type="button" class="btn btn-primary mysearch-btn">新增</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>考题编号</th>
                  <th>课程名</th>
                  <th>分数</th>
                  <th>考题内容</th>
                  <th>答案 A</th>
                  <th>答案 B</th>
                  <th>答案 C</th>
                  <th>答案 D</th>
                  <th>正确答案</th>
                  <th>操作</th>
                </tr>
                <tbody id="testPaperList"></tbody>
              </thead>
            </table>
            <p id="testPaperListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 考题管理 END -->
        <!-- 新增考题 -->
        <div id="testPaper_add" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main my-add-main" style="display: none;">
          <h2 class="sub-header">新增考题</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="testPaper_add_course" class="col-sm-4 control-label">课程</label>
                <div class="col-sm-2">
                  <select class="form-control" id="testPaper_add_course">
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_point" class="col-sm-4 control-label">分数</label>
                <div class="col-sm-2">
                  <select class="form-control" id="testPaper_add_point">
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_content" class="col-sm-4 control-label">考题内容</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="testPaper_add_content" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_answerA" class="col-sm-4 control-label">答案 A</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="testPaper_add_answerA" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_answerB" class="col-sm-4 control-label">答案 B</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="testPaper_add_answerB" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_answerC" class="col-sm-4 control-label">答案 C</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="testPaper_add_answerC" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_answerD" class="col-sm-4 control-label">答案 D</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="testPaper_add_answerD" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="testPaper_add_rightAnswer" class="col-sm-4 control-label">正确答案</label>
                <div class="col-sm-2">
                  <select class="form-control" id="testPaper_add_rightAnswer">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button id="testPaper_add_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">新增</button>
                </div>
              </div>
            </form>
        </div>
        <!-- 新增考题 END -->

        <!-- 成绩管理 -->
        <div id="examination" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">成绩信息</h2>
          <div class="myseachbox">
            <div class="input-group mysearch-input-group">
              <div id="examination_search_type" class="dropdown input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" id="examination_searchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="my-selected" data-value="courseId">课程编号</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="examination_searchType">
                  <li data-value="id"><a href="javascript:void(0);">成绩编号</a></li>
                </ul>
              </div>
              <input id="examination_search_input" type="text" class="form-control" />
            </div>
            <button id="examination_search_btn" type="button" class="btn btn-primary mysearch-btn">查询</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>成绩编号</th>
                  <th>总分</th>
                  <th>成绩</th>
                  <th>课程名</th>
                  <th>教员</th>
                  <th>时间</th>
                </tr>
                <tbody id="examinationList"></tbody>
              </thead>
            </table>
            <p id="examinationListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 成绩管理 END -->


        <!-- 学习资料管理 -->
        <div id="resource" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display: none;">
          <h2 class="sub-header">学习资料</h2>
          <div class="myseachbox">
            <button id="resource_add_btn" type="button" class="btn btn-primary mysearch-btn">新增</button>
          </div>  
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>课程名</th>
                  <th>描述</th>
                  <th>链接</th>
                  <th>操作</th>
                </tr>
                <tbody id="resourceList"></tbody>
              </thead>
            </table>
            <p id="resourceListNoData" class="my-nodata">暂无数据</p>
          </div>
        </div>
        <!-- 学习资料管理 END -->
        <!-- 新增资料管理 -->
        <div id="resource_add" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main my-add-main" style="display: none;">
          <h2 class="sub-header">新增资料管理</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="resource_add_course" class="col-sm-4 control-label">课程</label>
                <div class="col-sm-2">
                  <select class="form-control" id="resource_add_course">
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="resource_add_content" class="col-sm-4 control-label">描述</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="resource_add_content" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="resource_add_url" class="col-sm-4 control-label">链接</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="resource_add_url" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button id="resource_add_submit_btn" type="submit" class="btn btn-primary btn-lg mybtn" onclick="return false">新增</button>
                </div>
              </div>
            </form>
        </div>
        <!-- 新增资料管理 END -->

        


      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

    <script src="{% static "layer/layer.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/manage2.js" %}"></script>
  </body>
</html>